@media only screen and (min-width: 32.5em){
    h1{
        font-size: 2.5rem;
    }
    
    h2{
        font-size: 1.5rem;
    }

    header{
        border-radius: 10px;
        display: flex;
        gap: 40px;
    }

    header img{
        box-shadow: 0 0 20px black;
        float:left;
        border-radius: 10px;
    }

    .contactboard{
        background-color: pink;
    }
    .contact{
        background-color: aquamarine;
    }
}