
/* 
Colors for later https://coolors.co/41521f-fffcf9-101d42-d84727
*/

*{
    margin:0;
    box-sizing: border-box;
}
body{
    justify-items: center;
    font-size: 16px;
    line-height: 1.5;
    max-width: 550px;
    padding: 10px;
    font-family: 'Secular One', sans-serif;
    background-color: #fffcf9 ;
    color: #101d42;
    margin: auto;
}


header{
    
    border-radius: 8px;
    background-color: #101d42;
    color: #fffcf9;
    align-items: center;
    text-align: center;
    padding: 20px;
}



footer{
    border-radius: 8px;
    background-color: #101d42;
    color: #fffcf9;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

h1{
    font-size: 1.5rem;
}

h2{
    border-bottom: 5px solid #101d42;
    color: #101d42;
    font-size: 1rem;
}

main ul li{
    display: flex;
}

main ul li a{
    margin-left: 10px;
    margin-right: 10px;
}

