

h1, h2, p {margin: 0 2vw;}

h2{
    font-size: 1.35em;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:#F0F3F5 ;
    font-size: 16px;
}

header{
    background-color: #054A91;
    color: #F0F3F5;
}

.headerbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#meetingbanner{
    text-align: center;
    padding: 10px;
    background-color: #ffcc29;
    font-size: 1.5em;
    color: #ed3237;
    font-style: oblique;
    display: none;
}

#chambertext{
    display: none;
}

.socialMedia{
    order: 2;
    padding: 10px;
}


#date{
    display: flex;
    justify-content: center;
    background-color: #054A91;
    border-top:#F0F3F5 solid 2px ;
    padding: .5em;
}
/*---------- Main ---------------  */


.homemain{
    grid-template-columns: 1fr;
    margin-top: .5rem;
    display: grid;
    grid-gap: .5rem;
    justify-content: center;
    align-content: center;
}

main div{
    background-color: #054A91;
    color: #F0F3F5;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem;
    align-items: center;
}

.hero{
    background-color: #054A91;
    position: relative;
}

.hero img{
    width: 100%;
}

.joinNow{
        position: absolute;
        bottom: 25px;
        right: 50px;
        background-color: #ed3237;
        opacity: .75;
        padding: 1.5rem;
        box-shadow: 0 0 30px #333;
        border-radius: 10px;     
}

.join h2{
    background-color: #ed3237;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
    border-radius: 10px;
    margin: .75rem;     
}



.spotlightcontainer{
    display: flex;
    flex-direction: column;
}

.spotlightcontainer img{
    margin: 5px;
}

#spotlight1, #spotlight2 ,#spotlight3{
    border: #F0F3F5 2px solid;
    margin:.5rem;
    width: 90%;
}

.spotcontact{
   border-top: #F0F3F5 solid 2px;
}

#spotlight3{
    display: none;
}

.join{
    display:none
}

.weather div{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}


/*---------- footer ---------------  */


footer{
    background-color: #054A91;
    color: #F0F3F5;
    font-size: 1rem;
    justify-content: center;
    text-align: left;
    margin-top: .5em; 
}

.credits a{
    font-style: none;
    color: #EFE9E6;
}

.credits{
    text-align: center;
    border-top: #EFE9E6 solid 2px;
    padding: 5px;
}

#chamberfooter{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

#myInfo{
    display: flex;
    border-top: solid #F0F3F5 2px;
    padding: 5px;
    justify-content: center;

}

h1,h2,h3,h4{
    font-family: 'Playfair Display SC', serif;    
}

.logobox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFE9E6;  
}

.logobox img{
    border-radius: 10px;
    margin: 10px;
    height: 150px;
}

.primaryNav {
	list-style: none;
	padding: 0;
}
.primaryNav li:first-child {
	display: block;
}
.primaryNav li {
	display: none;
}

.primaryNav a {
    margin: 15px;
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #F0F3F5;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.hambugerBtn{
    font-size: 5rem;
}



.primaryNav a:hover {
	color: white;
	background-color: black;
}

.primaryNav a:active{
    border:#F0F3F5 solid 2px ;
}


.responsive li {
	display: block;
}

/*---------- Discovery Page ---------------  */




.discovercontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,
    minmax(350px, 1fr));
    justify-content: center;
    padding: 0;
    margin-top: .5rem;
}

.discovercard p, .discovercard p{
    margin-top: 5px;
}

.discovercard img{
    max-width: 95%;
    height: 95%;
    border: #EFE9E6 double 8px;
    font-size: 1.5em;
}

.card__face--back{
    display: none;
}

.dayssincelastvisit{
    background-color: #054A91;
    color: #EFE9E6;
    font-size: 1.3rem;
    padding: 15px;
    margin: 0px;
    text-align: center;
    border-top: #EFE9E6 .5em solid;
}

/*----------Join Form-------------*/

.joinmain{
    display: grid;
    grid-template-columns: 1fr;
}

/*-----------FORM ----------------*/
form {
    max-width: 450px;
    margin: 0 auto;
}
form fieldset{
    margin: 2rem 0;
    border: 5px solid #054A91;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend, div legend{
    color:#054A91;
    font: 2rem;
    margin: 0 1rem;
    padding: 5px .5rem;
    border: #054A91 5px solid;
    border-radius: 10px;
}

form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 15rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs{
    display: block;
    padding: .75rem;
    color: #555;
    border: #054A91 solid 5px; 
    border-radius: 10px;
    margin: .5em; 
}

form label.sbs span{
    font-size: 2em;
    margin-left: 20px;
}

form input.submitbtn{
    border: none;
    background-color: #ed3237;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: #ed3237 solid 6px;
}

form label.top input:required:valid{
    border-left:green solid 6px;
}

/* HIDE RADIO */

.btnhide [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
  }

  /* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 8px double #9c2c13;
    padding: 1px;
  }

.packagedetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem;
    padding: 5px .5rem;
    border-radius: 10px;
}

.singlepackage{
    border: #f0f3f5 double 3px;
    margin: .5em;
}

.singlepackage h2{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 3em;
    margin: .5em;
}

textarea {
    /* will prevent resizing horizontally */
    resize:vertical;
  }

  /* --------Discover Page ---------*/

.directorymain{
    background-color: #054A91;
    text-align: center;
}
  .switchFormat{
    background-color: #ed3237;
    color: #EFE9E6;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    border: #EFE9E6 5px solid;
    border-radius: 10px;
    margin: 0.75rem;
}

.directorycards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px ;
}

.removegrid{
    display: block;
}

.table{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-top: rgb(250, 247, 247) solid 2px;
}

.cell{
    border-left: rgb(250, 247, 247) solid 2px;
    font-weight: normal;
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.removegrid section:nth-child(even) {
    background-color: #4175d6;
}

section:last-of-type {
    border-bottom: rgb(250, 247, 247) solid 2px;
}

.hide{
    display: none;
}
