@media only screen and (min-width: 64rem){
    nav ul li a{
        padding: .5rem 1rem;
    } 

    body{
        font-size: 1em;
    }

    .primaryNav {
		display: flex;
	}
	.primaryNav li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.primaryNav a {
		text-align: center;
	}
	.primaryNav li:first-child {
		display: none;
	}

    #socialMedia{
        order:1;
        margin: 15px;
    }

	body{
		max-width: 1200px;
		margin: auto;
	}


    main{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.event{
		grid-column: 1/2;
        grid-row: 1/2;
	}

    .hero{
		grid-column: 2/4;
        grid-row: 1/3;
	}
	.news{
		grid-column: 2/4;
        grid-row: 3/4;
	}
	.weather{
		grid-column: 1/2;
	}

	.spotlightcontainer{
		justify-content: space-around;
		flex-direction: column;
		grid-column: 4/5;
        grid-row: 1/4;
	}
	.join{
        grid-column: 1/2;
		grid-row: 3/4;
	}

    #spotlight3{
        display: block;
    }


 }