
@media only screen and (min-width: 720px) {

	#chambertext{
		display: block;
		text-align: left;
	}
	body{
		font-size: .8rem;
	}

	main{
		grid-template-columns: 1fr 1fr 1fr;
	}

	.hero{
		grid-column: 1/4;
	}
	.news{
		grid-column: 1/4;
		grid-row: 2/3;
	}

	.spotlightcontainer{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		grid-column: 1/4;
		grid-row: 3/4;
	}
	.join{
		display: block;
		grid-column: 1/4;
		grid-row: 4/5;
	}

	.event{
		grid-column: 1/3;
	}

	
#chamberfooter{
    flex-direction: row;
    justify-content: space-around;
}


.card__face--back{
    display: block;
}

	.discovercardimage {
	position: relative;
	width: 100%;
	height: 275px;
	cursor: pointer;
	transition: 1s ease-in-out;
	transform-style: preserve-3d;
  }
  .discovercardimage:hover {
	transform: rotateY(0.5turn);
  }
  .discovercardimage .card__face {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	transition: 1s ease-in-out;
  }
  .discovercardimage .card__face img {
	-o-object-fit: cover;
	   object-fit: cover;
  }
  .discovercardimage .card__face--back {
	transform: rotateY(0.5turn);}

	.joinmain{
		grid-template-columns: 1fr 1fr;
	}
	.contactboard{
		flex-direction: row;
		justify-content: space-around;
		}

	footer .logobox{
		flex-direction: row;
	}

	.contactmap{
		flex-direction: row;
	}
	
	.join a{
		background-color: #ed3237;
		padding: 1.5rem;
		box-shadow: 0 0 30px #333;
		border-radius: 10px;
		margin: .75rem;
		position: absolute;
		bottom: 0px;
		right: 20px;
		justify-self: center;     
  }

  .join{
	  height: 60px;
	  justify-content: center;
	  font-size: 1.1em;
  }


}