@media only screen and (min-width: 32.5em) {
	.primaryNav {
		display: flex;
	}
	.primaryNav li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.primaryNav a {
		text-align: center;
	}
	.primaryNav li:first-child {
		display: none;
	}

	#chambertext{
		display: block;
		text-align: left;
	}

	main{
		grid-template-columns: 1fr 1fr 1fr;
	}

	.hero{
		grid-column: 1/4;
	}
	.news{
		grid-column: 1/4;
		grid-row: 2/3;
	}

	.spotlightcontainer{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		grid-column: 1/4;
		grid-row: 3/4;
	}
	.join{
		display: block;
		grid-column: 1/4;
		grid-row: 4/5;
	}

	.event{
		grid-column: 1/3;
	}


}