
@media only screen and (min-width: 540px) {

	#chambertext{
		display: block;
		text-align: left;
	}
	body{
		font-size: .8rem;
	}

	main{
		grid-template-columns: 1fr 1fr 1fr;
	}

	.hero{
		grid-column: 1/4;
	}
	.news{
		grid-column: 1/4;
		grid-row: 2/3;
	}

	.spotlightcontainer{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		grid-column: 1/4;
		grid-row: 3/4;
	}
	.join{
		display: block;
		grid-column: 1/4;
		grid-row: 4/5;
	}

	.event{
		grid-column: 1/3;
	}

	
#chamberfooter{
    flex-direction: row;
    justify-content: space-around;
}


.card__face--back{
    display: block;
}

	.discovercardimage {
	position: relative;
	width: 100%;
	height: 400px;
	cursor: pointer;
	transition: 1s ease-in-out;
	transform-style: preserve-3d;
  }
  .discovercardimage:hover {
	transform: rotateY(0.5turn);
  }
  .discovercardimage .card__face {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	transition: 1s ease-in-out;
  }
  .discovercardimage .card__face img {
	-o-object-fit: cover;
	   object-fit: cover;
  }
  .discovercardimage .card__face--back {
	transform: rotateY(0.5turn);}

  }


@media only screen and (min-width: 720px) {
	.discovercardimage {
		height: 290px;
	}
}





  