

h1, h2, p {margin: 0 2vw;}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:#F0F3F5 ;
    font-size: 16px;
}

header{
    background-color: #054A91;
    color: #F0F3F5;
}

.headerbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#chambertext{
    display: none;
}

.socialMedia{
    order: 2;
}

#date{
    display: flex;
    justify-content: center;
    background-color: #054A91;
    border-top:#F0F3F5 solid 2px ;
    padding: .5em;
}
/*---------- Main ---------------  */

main{
    margin: 10px;
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
}

main div{
    background-color: #054A91;
}

main div img{
    justify-items: center;
    text-align: center;
    margin: .5rem;
    width: 90%;
}


/*---------- footer ---------------  */


footer{
    background-color: #054A91;
    color: #F0F3F5;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
}

#myInfo{
    border-top: solid #F0F3F5 2px;
    padding: 5px;
    justify-content: center;

}

h1,h2,h3,h4{
    font-family: 'Playfair Display SC', serif;    
}

.logobox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFE9E6;  
}

.logobox img{
    border-radius: 10px;
    margin: 10px;
    height: 150px;
}

.primaryNav {
	list-style: none;
	padding: 0;
}
.primaryNav li:first-child {
	display: block;
}
.primaryNav li {
	display: none;
}

.primaryNav a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #F0F3F5;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}



.primaryNav a:hover {
	color: white;
	background-color: black;
}

.primaryNav a:active{
    border:#F0F3F5 solid 2px ;
}


.responsive li {
	display: block;
}



