

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    text-align: center;
    font-size: 3em;
    color: #b78846;
    border-bottom: #b78846 double 8px;
    margin: 20px;
    padding: 20px;
}
  
html, body {
    height: 100%;
    background: radial-gradient(#003, #000);
    color: #b78846;
    font-family: 'Open Sans';
    font-size: 18px;
}

main .cards section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-top: rgb(250, 247, 247) solid 2px;

}
section p{
    border-left: rgb(250, 247, 247) solid 2px;
    padding: 5px;
}


section:nth-of-type(even) {
    background-color: #df0b0b;
    max-width: 100%;
  }

  section:last-of-type {
    border-bottom: rgb(250, 247, 247) solid 2px;
  }

main .cards img{
    display: none;
}

footer{
    text-align: center;
    font-size: 3em;
    color: #b78846;
    border-top: #b78846 double 8px;
    margin: 20px;
    padding: 20px;
}