:root {
	--back: rgb(11, 72, 122);
    --back2: rgba(82, 170, 243, 0.5);
	--forelight: hsla(0,0%,100%,1);
	--border: hsl(0,0%,20%);
	--borderlight: hsl(0,0%,33%);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
  --backgood: rgb(27, 158, 9);
  --fontgood: rgb(10, 10, 10);
}

html{
    font-family: 'Ubuntu', sans-serif;
    width: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-collapse: collapse;
    border: 2px solid var(--border);
    box-shadow: 0 0 30px var(--shadow);
    letter-spacing: 1px;
    font-size: 1rem;
    text-indent: initial;
  }

tr:first-child th {
	background-color: var(--back);
	color: var(--forelight);
}

table tbody tr:nth-child(4) td:nth-child(3) {
  font-weight: bold;
  color: var(--fontgood);
  background-color: var(--backgood);
}
  
td, th {
    border: 1px solid var(--borderlight);
    padding: 10px 20px;
  }
  
th {
    background-color: var(--back2);
  }
  
td {
    text-align: center;
}
  
  tr:nth-child(even) td {
    background-color: var(--zebra);
}

  
caption {
    padding: 10px;
    caption-side: bottom    
}